table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.3cm;
    width: 100%;
    vertical-align: top;
}

.ticket {
    width: 20cm;
    height: 4.5cm;
    border: 0.05cm dotted black;
    padding: 0.3cm;
    margin-bottom: 0.5cm;
}
